# hidev internals
.hidev/composer.json
.hidev/composer.lock
.hidev/config-local.yml
.hidev/vendor

# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# test coverage
.coverage

# testing
tests/modules/hidden_test.py

# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# PHARs
chkipper.phar
composer.phar

# dist files
dist

# pip
heppy.egg-info
