[Unit]
Description=hEPPy %i
StopWhenUnneeded=true
After=rabbitmq-server.service

[Service]
WorkingDirectory=/home/sol/prj/hiqdev/heppy/etc
ExecStart=/home/sol/prj/hiqdev/heppy/bin/heppyd %i start
Restart=always
User=heppy
Group=heppy

[Install]
WantedBy=heppy.target
