[Unit]
Description=hEPPy COMNET %i
StopWhenUnneeded=true

[Service]
ExecStart=/home/sol/prj/hiqdev/heppy/bin/testServer epp.json start
Restart=always

[Install]
WantedBy=heppy-comnet.target
